*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #0185489e , #000);
    
}

.calculator
{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-rows: minmax(120px,auto) repeat(5, 100px) ;
}
    

.output
{
    grid-column: 1/-1;
    background-color: #000;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    word-wrap: break-word; /*alt satıra kayması için*/
    word-break: break-all;
   
}
.previous
{
    font-size: 1.5rem;
}
.current
{
    font-size: 2.5rem;
}
.span-two
{
    grid-column: span 2;
}
.calculator button
{
    outline: none;
    background: none;
    border: 1px solid green;
    cursor: pointer;
    color: white;
    background-color: #090245;
    border-radius: 10px;
    font-size: 2rem;
}

.calculator button:hover
{
    background-color: #09024540;
    border: 1px solid rgb(0, 156, 254);
}